/* .style1{
    font-size: 3rem;
    color: red;
}
.style2{
    font-family: 'Arial';
}
    
*/

.div-style{
    height: 110px;
    width: 800px;
    margin-top: 20px;
    padding: 10px;
    background-color:aqua
}













